* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  align-items: center;
  padding: 20px 30px;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bar-left {
  display: flex;
  align-items: center;
}

.bar-right {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.menu-bar {
  display: flex;

}

.menu-bar a {
  color: #2d2d2d;
  text-decoration: none;
  margin-right: 15px;
}

.menu-bar a:hover {
  text-decoration: underline;
}

.apps {
  color: #2d2d2d;
  text-decoration: none;
  margin-right: 15px;
  font-size: 25px;
}

.profile{
  margin-right: 15px;
}

.profile img {
  width: 40px;
  border-radius: 100%;
}

.content {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo img {
  width: 400px;
}

.search {
  margin: 30px 0;
  position: relative;
  width: 100%;
}

.search input {
  height: 50px;
  width: 85%;
  border: 1px solid #d0d0d0;
  border-radius: 100px;
  padding: 0 50px;
  outline: 0;
  box-shadow: 0 0 0 0 rgba(136, 136, 136, 0);
  font-size: 10px;
  transition: box-shadow .3s;
}

.search input:focus {
  box-shadow: 0 0 10px -4px #888888;
}

.search .search-icon {
  position: absolute;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  top: 0;
  display: flex;
  font-size: 20px;
  color: #888888
}

.search .search-icon.right {
  right: 0;
}

.search-info {
  font-size: 15px;
}

.search-info a {
  color: #3f51b6;
  text-decoration: none;
}

.search-info a:hover {
  text-decoration: underline;
}

.search-button {
  display: flex;
  margin-bottom: 30px;
}

.search-button a {
  text-decoration: none;
  margin-right: 15px;
  background-color: #ececec;
  color: black;
  padding: 10px 15px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0);
}

.search-button a:last-child {
  margin-right: 0;
}

.search-button a:hover {
  border: 1px solid #8c8c8c
}

.bottom {
  display: flex;
  align-items: center;
  padding: 20px 30px;
  background-color: #ececec;
  border-top: 1px solid #d4d4d4;
}
